.react-pdf__Page__textContent span {
  opacity: 0.5;
}
.react-pdf__Page{
  display: flex;
  flex-wrap: wrap;
}

.react-pdf__Page__textContent span::selection {
  background-color: blue;
}

.page{
  display: flex; justify-content: center;
}
.react-pdf__Document {
  line-height: 1;
}
